doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet",href="base.css")
  body
    footer#time
    
  script(src="base.js")
  script.
    var ii = document.body.style
   